{% extends "index.twig" %}
{% block content %}
    {% for product in products %}
        <div class="product" id="{{ product.id }}">
            <h3>{{ product.name }}</h3>
            <p>Цена: {{ product.price }}</p>
            <img src="{{ product.img }}" alt="{{ product.img }}" class="img_small">
        </div>
    {% endfor %}
{% endblock content %}